
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --font-major: "Major Mono Display", monospace;
  --font-oswald: "Oswald", sans-serif;
  --font-space: "Space Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #000000;
  }
}

html {
  height: 100dvh;
  width: 100dvw;
  background-color: #000000;
}

::selection {
  background-color: #ffffffcc; /* Tailwind's yellow-400 */
  color: #000000; /* Black text */
}



  body {
    background-color: #000000; /* Light gray background */
    color: #ffffff;              /* Dark gray text */
    min-width: 10rem;
  }
