@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-major-mono: 'Major Mono Display', monospace;
  --font-oswald: 'Oswald', sans-serif;
}




@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #000000;
  }
}


html {
  height: 100dvh;
  width: 100dvw;
  background-color: #000000; 
}

