::selection {
  background-color: #ffffffcc; /* Tailwind's yellow-400 */
  color: #000000; /* Black text */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }







  .app-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh; 
    padding: 2rem;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box; 
  }
  
  .content {
    margin-top: 25dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
  }
  
  
  .title {
    font-size: clamp(7dvw, 7dvw, 6rem);
    text-align: center;
    font-weight: 100;
    margin-bottom: 2dvh;
    letter-spacing: 2px;
    cursor: default;
    position: relative;
  }

.count-up-text{
    font-size: clamp(11dvw, 7dvw, 6rem);
    text-align: right;
    font-weight: 100;
    margin-bottom: 2dvh;
    margin-right: 1dvw;
    letter-spacing: 2px;
    cursor: default;
    position: relative;
    width: 16dvw;
}

.pcount-container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: left;
    margin-left: 2dvw;
    z-index: 1;
    position: fixed;
    left: 0;
    bottom: 0;
}

@media (max-width: 600px) {
  .content {
    margin-top: 20vh; /* Less top margin on mobile */
  }
  .title {
    font-size: 10dvw; /* Adjust font size for mobile */
  }
  .pcount-container {
    transform: scale(2);
    transform-origin: bottom left;
    margin-left: 1rem;
  }
  .count-up-text {
    margin-right: 0.5rem;
  }
}

