


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #000000; /* Light gray background */
    color: #ffffff;              /* Dark gray text */
    min-width: 10rem;
  }




  .app-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh; /* vertically center the content */
    padding: 2rem;
    width: 100vw;
    height: 100vh; /* Use full viewport height */
    box-sizing: border-box; /* Ensure padding is included in the width */
  }
  
  .content {
    margin-top: 25dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
  }
  
  
  .title {
    font-size: clamp(7dvw, 7dvw, 6rem);
    text-align: center;
    font-weight: 100;
    margin-bottom: 2dvh;
    letter-spacing: 2px;
    cursor: default;
    position: relative;
  }


/* styles/globals.css or your main CSS file */
::selection {
  background-color: #ffffffcc; /* Tailwind's yellow-400 */
  color: #000000; /* Black text */
}


  /* Mobile adjustments */
@media (max-width: 600px) {
  .content {
    margin-top: 20vh; /* Less top margin on mobile */
  }
  .title {
    font-size: 10dvw; /* Adjust font size for mobile */
  }
}